In [53]:
#importing CSV File and Reading it
import pandas as pd
import csv

In [55]:
FAO_data = pd.read_csv("FoodBalanceSheets_E_All_Data.csv", sep=',', encoding='latin-1')

KeyboardInterrupt:

In [3]:
#Dropping Useless Columns
FAO_data_col_drop=FAO_data.drop(['Area Code','Item Code','Element Code','Year Code','Flag'],axis=1)
FAO_data_dup_drop=FAO_data_col_drop.drop_duplicates()

In [4]:
FAO_data_dup_drop[:10000]

,Area,Item,Element,Year,Unit,Value
0,Afghanistan,Population,Total Population - Both sexes,1961,1000 persons,8954.0
2,Afghanistan,Population,Total Population - Both sexes,1962,1000 persons,9142.0
4,Afghanistan,Population,Total Population - Both sexes,1963,1000 persons,9340.0
6,Afghanistan,Population,Total Population - Both sexes,1964,1000 persons,9547.0
8,Afghanistan,Population,Total Population - Both sexes,1965,1000 persons,9765.0
10,Afghanistan,Population,Total Population - Both sexes,1966,1000 persons,9990.0
12,Afghanistan,Population,Total Population - Both sexes,1967,1000 persons,10222.0
14,Afghanistan,Population,Total Population - Both sexes,1968,1000 persons,10466.0
16,Afghanistan,Population,Total Population - Both sexes,1969,1000 persons,10729.0
18,Afghanistan,Population,Total Population - Both sexes,1970,1000 persons,11016.0
20,Afghanistan,Population,Total Population - Both sexes,1971,1000 persons,11323.0
22,Afghanistan,Population,Total Population - Both sexes,1972,1000 persons,11644.0
24,Afghanistan,Population,Total Population - Both sexes,1973,1000 persons,11966.0
26,Afghanistan,Population,Total Population - Both sexes,1974,1000 persons,12274.0
28,Afghanistan,Population,Total Population - Both sexes,1975,1000 persons,12552.0
30,Afghanistan,Population,Total Population - Both sexes,1976,1000 persons,12807.0
32,Afghanistan,Population,Total Population - Both sexes,1977,1000 persons,13034.0
34,Afghanistan,Population,Total Population - Both sexes,1978,1000 persons,13200.0
36,Afghanistan,Population,Total Population - Both sexes,1979,1000 persons,13257.0
38,Afghanistan,Population,Total Population - Both sexes,1980,1000 persons,13180.0
40,Afghanistan,Population,Total Population - Both sexes,1981,1000 persons,12964.0
42,Afghanistan,Population,Total Population - Both sexes,1982,1000 persons,12634.0
44,Afghanistan,Population,Total Population - Both sexes,1983,1000 persons,12242.0
46,Afghanistan,Population,Total Population - Both sexes,1984,1000 persons,11854.0
48,Afghanistan,Population,Total Population - Both sexes,1985,1000 persons,11529.0
50,Afghanistan,Population,Total Population - Both sexes,1986,1000 persons,11262.0
52,Afghanistan,Population,Total Population - Both sexes,1987,1000 persons,11063.0
54,Afghanistan,Population,Total Population - Both sexes,1988,1000 persons,11013.0
56,Afghanistan,Population,Total Population - Both sexes,1989,1000 persons,11215.0
58,Afghanistan,Population,Total Population - Both sexes,1990,1000 persons,11731.0
...,...,...,...,...,...,...
19940,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1967,kcal/capita/day,0.0
19942,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1968,kcal/capita/day,0.0
19944,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1969,kcal/capita/day,0.0
19946,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1970,kcal/capita/day,0.0
19948,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1971,kcal/capita/day,0.0
19950,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1972,kcal/capita/day,0.0
19952,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1973,kcal/capita/day,0.0
19954,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1974,kcal/capita/day,0.0
19956,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1975,kcal/capita/day,0.0
19958,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1976,kcal/capita/day,0.0
19960,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1977,kcal/capita/day,0.0
19962,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1978,kcal/capita/day,0.0
19964,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1979,kcal/capita/day,0.0
19966,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1980,kcal/capita/day,0.0
19968,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1981,kcal/capita/day,0.0
19970,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1982,kcal/capita/day,0.0
19972,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1983,kcal/capita/day,0.0
19974,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1984,kcal/capita/day,0.0
19976,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1985,kcal/capita/day,0.0
19978,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1986,kcal/capita/day,0.0
19980,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1987,kcal/capita/day,0.0
19982,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1988,kcal/capita/day,0.0
19984,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1989,kcal/capita/day,0.0
19986,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1990,kcal/capita/day,0.0
19988,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1991,kcal/capita/day,0.0
19990,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1992,kcal/capita/day,0.0
19992,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1993,kcal/capita/day,0.0
19994,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1994,kcal/capita/day,0.0
19996,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1995,kcal/capita/day,0.0
19998,Afghanistan,Rape and Mustard Oil,Food supply (kcal/capita/day),1996,kcal/capita/day,0.0

In [16]:
FAO_data_group = FAO_data_dup_drop.groupby(['Area','Element','Year']).size().reset_index().rename(columns={0:'count'})

In [19]:
FAO_data_group_drCount = FAO_data_group.drop('count',axis=1)

In [20]:
FAO_data_group_drCount

               Area                   Element  Year
0       Afghanistan  Domestic supply quantity  1961
1       Afghanistan  Domestic supply quantity  1962
2       Afghanistan  Domestic supply quantity  1963
3       Afghanistan  Domestic supply quantity  1964
4       Afghanistan  Domestic supply quantity  1965
5       Afghanistan  Domestic supply quantity  1966
6       Afghanistan  Domestic supply quantity  1967
7       Afghanistan  Domestic supply quantity  1968
8       Afghanistan  Domestic supply quantity  1969
9       Afghanistan  Domestic supply quantity  1970
10      Afghanistan  Domestic supply quantity  1971
11      Afghanistan  Domestic supply quantity  1972
12      Afghanistan  Domestic supply quantity  1973
13      Afghanistan  Domestic supply quantity  1974
14      Afghanistan  Domestic supply quantity  1975
15      Afghanistan  Domestic supply quantity  1976
16      Afghanistan  Domestic supply quantity  1977
17      Afghanistan  Domestic supply quantity  1978
18      Afghanistan  Domestic supply quantity  1979
19      Afghanistan  Domestic supply quantity  1980
20      Afghanistan  Domestic supply quantity  1981
21      Afghanistan  Domestic supply quantity  1982
22      Afghanistan  Domestic supply quantity  1983
23      Afghanistan  Domestic supply quantity  1984
24      Afghanistan  Domestic supply quantity  1985
25      Afghanistan  Domestic supply quantity  1986
26      Afghanistan  Domestic supply quantity  1987
27      Afghanistan  Domestic supply quantity  1988
28      Afghanistan  Domestic supply quantity  1989
29      Afghanistan  Domestic supply quantity  1990
...             ...                       ...   ...
166258     Zimbabwe                     Waste  1984
166259     Zimbabwe                     Waste  1985
166260     Zimbabwe                     Waste  1986
166261     Zimbabwe                     Waste  1987
166262     Zimbabwe                     Waste  1988
166263     Zimbabwe                     Waste  1989
166264     Zimbabwe                     Waste  1990
166265     Zimbabwe                     Waste  1991
166266     Zimbabwe                     Waste  1992
166267     Zimbabwe                     Waste  1993
166268     Zimbabwe                     Waste  1994
166269     Zimbabwe                     Waste  1995
166270     Zimbabwe                     Waste  1996
166271     Zimbabwe                     Waste  1997
166272     Zimbabwe                     Waste  1998
166273     Zimbabwe                     Waste  1999
166274     Zimbabwe                     Waste  2000
166275     Zimbabwe                     Waste  2001
166276     Zimbabwe                     Waste  2002
166277     Zimbabwe                     Waste  2003
166278     Zimbabwe                     Waste  2004
166279     Zimbabwe                     Waste  2005
166280     Zimbabwe                     Waste  2006
166281     Zimbabwe                     Waste  2007
166282     Zimbabwe                     Waste  2008
166283     Zimbabwe                     Waste  2009
166284     Zimbabwe                     Waste  2010
166285     Zimbabwe                     Waste  2011
166286     Zimbabwe                     Waste  2012
166287     Zimbabwe                     Waste  2013

[166288 rows x 3 columns]

In [39]:
ds = FAO_data_dup_drop[(FAO_data_dup_drop['Area'] == "Zimbabwe")]
ds1 = ds[ds['Element'] == "Waste"]
ds2 = ds1[ds1['Year'] == 1961]


#| (FAO_data_dup_drop['Element'] == "Waste") | (FAO_data_dup_drop['Year'] == "2013")]

In [40]:
ds2

,Area,Item,Element,Year,Unit,Value
18017482,Zimbabwe,Wheat and products,Waste,1961,1000 tonnes,3.0
18018860,Zimbabwe,Rice (Milled Equivalent),Waste,1961,1000 tonnes,0.0
18020344,Zimbabwe,Barley and products,Waste,1961,1000 tonnes,0.0
18021828,Zimbabwe,Maize and products,Waste,1961,1000 tonnes,51.0
18024902,Zimbabwe,Millet and products,Waste,1961,1000 tonnes,9.0
18026386,Zimbabwe,Sorghum and products,Waste,1961,1000 tonnes,3.0
18028612,Zimbabwe,Cassava and products,Waste,1961,1000 tonnes,2.0
18029884,Zimbabwe,Potatoes and products,Waste,1961,1000 tonnes,1.0
18031156,Zimbabwe,Sweet potatoes,Waste,1961,1000 tonnes,0.0
18037198,Zimbabwe,Beans,Waste,1961,1000 tonnes,1.0
18039424,Zimbabwe,"Pulses, Other and products",Waste,1961,1000 tonnes,0.0
18041756,Zimbabwe,Soyabeans,Waste,1961,1000 tonnes,0.0
18043134,Zimbabwe,Groundnuts (Shelled Eq),Waste,1961,1000 tonnes,3.0
18044512,Zimbabwe,Sunflower seed,Waste,1961,1000 tonnes,0.0
18063168,Zimbabwe,Tomatoes and products,Waste,1961,1000 tonnes,0.0
18064228,Zimbabwe,Onions,Waste,1961,1000 tonnes,0.0
18065394,Zimbabwe,"Vegetables, Other",Waste,1961,1000 tonnes,7.0
18066666,Zimbabwe,"Oranges, Mandarines",Waste,1961,1000 tonnes,2.0
18067832,Zimbabwe,"Lemons, Limes and products",Waste,1961,1000 tonnes,0.0
18069952,Zimbabwe,"Citrus, Other",Waste,1961,1000 tonnes,0.0
18071012,Zimbabwe,Bananas,Waste,1961,1000 tonnes,3.0
18072072,Zimbabwe,Apples and products,Waste,1961,1000 tonnes,0.0
18074828,Zimbabwe,Grapes and products (excl wine),Waste,1961,1000 tonnes,0.0
18076206,Zimbabwe,"Fruits, Other",Waste,1961,1000 tonnes,0.0
18099632,Zimbabwe,Eggs,Waste,1961,1000 tonnes,0.0
18101010,Zimbabwe,Milk - Excluding Butter,Waste,1961,1000 tonnes,14.0
18112564,Zimbabwe,Cereals - Excluding Beer,Waste,1961,1000 tonnes,66.0
18113836,Zimbabwe,Starchy Roots,Waste,1961,1000 tonnes,3.0
18117228,Zimbabwe,Pulses,Waste,1961,1000 tonnes,1.0
18119666,Zimbabwe,Oilcrops,Waste,1961,1000 tonnes,3.0
18122316,Zimbabwe,Vegetables,Waste,1961,1000 tonnes,8.0
18123588,Zimbabwe,Fruits - Excluding Wine,Waste,1961,1000 tonnes,6.0

In [52]:
l = []
for index,row in FAO_data_group_drCount.iterrows():
    d = dict()
    ds = FAO_data_dup_drop[(FAO_data_dup_drop['Area'] == row[0])]
    ds1 = ds[ds['Element'] == row[1]]
    ds2 = ds1[ds1['Year'] == row[2]]
    d['Area'] = row[0]
    d['Element'] = row[1]
    d['Year'] = row[2]
    d['Unit'] = ds2['Unit'].head(1).values[0]
    for ind, r in ds2.iterrows():
        d[r['Item']] = r['Value']
    l.append(d)

KeyboardInterrupt:

In [45]:
l

[{'Alcoholic Beverages': 0.0,
  'Animal fats': 20.0,
  'Apples and products': 15.0,
  'Area': 'Afghanistan',
  'Bananas': 0.0,
  'Barley and products': 378.0,
  'Beer': 0.0,
  'Beverages, Alcoholic': 0.0,
  'Bovine Meat': 43.0,
  'Butter, Ghee': 11.0,
  'Cereals - Excluding Beer': 3621.0,
  'Cereals, Other': 0.0,
  'Citrus, Other': 5.0,
  'Cocoa Beans and products': 0.0,
  'Coconuts - Incl Copra': 0.0,
  'Coffee and products': 0.0,
  'Cottonseed': 31.0,
  'Cottonseed Oil': 5.0,
  'Cream': 0.0,
  'Dates': 0.0,
  'Eggs': 10.0,
  'Element': 'Domestic supply quantity',
  'Fats, Animals, Raw': 8.0,
  'Fish, Seafood': 0.0,
  'Freshwater Fish': 0.0,
  'Fruits - Excluding Wine': 398.0,
  'Fruits, Other': 230.0,
  'Grapes and products (excl wine)': 137.0,
  'Groundnut Oil': 0.0,
  'Honey': 2.0,
  'Infant food': 0.0,
  'Maize and products': 700.0,
  'Meat': 129.0,
  'Meat, Other': 8.0,
  'Milk - Excluding Butter': 577.0,
  'Millet and products': 19.0,
  'Miscellaneous': 0.0,
  'Mutton & Goat Meat': 73.0,
  'Nuts and products': 2.0,
  'Offals': 26.0,
  'Offals, Edible': 26.0,
  'Oilcrops': 72.0,
  'Oilcrops Oil, Other': 4.0,
  'Oilcrops, Other': 12.0,
  'Olive Oil': 0.0,
  'Olives (including preserved)': 1.0,
  'Oranges, Mandarines': 10.0,
  'Palm Oil': 0.0,
  'Pepper': 0.0,
  'Pineapples and products': 0.0,
  'Potatoes and products': 130.0,
  'Poultry Meat': 6.0,
  'Pulses': 18.0,
  'Pulses, Other and products': 18.0,
  'Rape and Mustard Oil': 0.0,
  'Rice (Milled Equivalent)': 213.0,
  'Sesame seed': 16.0,
  'Sesameseed Oil': 2.0,
  'Soyabean Oil': 0.0,
  'Spices': 3.0,
  'Spices, Other': 3.0,
  'Starchy Roots': 130.0,
  'Stimulants': 4.0,
  'Sugar & Sweeteners': 47.0,
  'Sugar (Raw Equivalent)': 45.0,
  'Sugar Crops': 87.0,
  'Sugar beet': 42.0,
  'Sugar cane': 45.0,
  'Sunflower seed': 12.0,
  'Sunflowerseed Oil': 3.0,
  'Sweeteners, Other': 0.0,
  'Tea (including mate)': 4.0,
  'Tomatoes and products': 0.0,
  'Treenuts': 2.0,
  'Unit': 424      1000 tonnes
  1484     1000 tonnes
  2650     1000 tonnes
  3922     1000 tonnes
  4982     1000 tonnes
  5936     1000 tonnes
  6890     1000 tonnes
  7844     1000 tonnes
  8268     1000 tonnes
  8904     1000 tonnes
  9434     1000 tonnes
  10176    1000 tonnes
  11024    1000 tonnes
  12190    1000 tonnes
  12932    1000 tonnes
  13462    1000 tonnes
  13886    1000 tonnes
  14840    1000 tonnes
  16006    1000 tonnes
  17066    1000 tonnes
  17596    1000 tonnes
  18232    1000 tonnes
  18974    1000 tonnes
  19610    1000 tonnes
  20246    1000 tonnes
  20988    1000 tonnes
  21730    1000 tonnes
  22472    1000 tonnes
  23214    1000 tonnes
  24168    1000 tonnes
              ...
  39220    1000 tonnes
  39962    1000 tonnes
  40810    1000 tonnes
  41658    1000 tonnes
  42400    1000 tonnes
  43248    1000 tonnes
  43990    1000 tonnes
  44838    1000 tonnes
  45686    1000 tonnes
  46852    1000 tonnes
  47912    1000 tonnes
  48760    1000 tonnes
  51092    1000 tonnes
  52364    1000 tonnes
  53318    1000 tonnes
  54060    1000 tonnes
  54908    1000 tonnes
  56074    1000 tonnes
  57134    1000 tonnes
  58300    1000 tonnes
  59360    1000 tonnes
  60526    1000 tonnes
  61374    1000 tonnes
  62434    1000 tonnes
  63176    1000 tonnes
  63918    1000 tonnes
  64660    1000 tonnes
  65508    1000 tonnes
  68582    1000 tonnes
  69430    1000 tonnes
  Name: Unit, Length: 77, dtype: object,
  'Vegetable Oils': 14.0,
  'Vegetables': 370.0,
  'Vegetables, Other': 370.0,
  'Wheat and products': 2311.0,
  'Wine': 0.0,
  'Year': 1961}]

In [13]:
for i in range(0,len(FAO_data_group)):
    print(FAO_data_group.get_group(i))

ValueError: must supply a tuple to get_group with multiple grouping keys

In [18]:
FAO_data_group.to_csv("FAO_groups.csv")

In [1]:
import pyspark
from pyspark import SparkContext, SparkConf

In [2]:
conf=SparkConf().setAppName("CSE545 Project").set("spark.driver.memory", "12g").set("spark.executor.memory", "6g").set("spark.driver.maxResultSize", "6g")
sc=SparkContext(conf=conf)

In [3]:
rdd2 = sc.textFile("FoodBalanceSheets_E_All_Data.csv").map(lambda line: line.split(","))

In [6]:
rdd3 = rdd2.filter(lambda line: len(line)>1).map(lambda x: [w.replace("\"","") for w in x])

In [ ]:
rdd4 = rdd3

In [8]:
print(rdd3.collect())